<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="/output.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/media/checklist.ico">
    <title>TodoApp</title>
  </head>
  <body class="bg-slate-800">
    <nav id="navbar" class="fixed top-0 left-0 right-0 bg-gray-950 h-16"></nav>
    <div class="bg-slate-800 h-screen w-full max-w-6xl mx-auto px-6 flex flex-col md:flex-row items-center justify-between gap-8 md:gap-16">
      <h1 class="text-orange-500 font-bold text-4xl md:text-7xl ">TodoApp</h1>
      <div class="flex flex-col gap-4 md:text-xl ">
        <p class="text-justify bg-gray-950 rounded-xl p-4 text-white font-mono">Tu día bajo control. TodoApp es la herramienta sencilla y eficiente que necesitas para gestionar tus tareas cotidianas. Olvídate de los olvidos: regístrate hoy, organiza tu rutina y empieza a cumplir tus metas paso a paso.</p>
        <div class="flex justify-around gap-4">
          <a class="bg-red-800 hover:bg-red-900 py-2 px-4 rounded-xl text-white font-bold w-2/4 text-center transition ease-in-out" href="/login/">Log In</a>
          <a class="bg-lime-700 hover:bg-lime-800 py-2 px-4 rounded-xl text-white font-bold w-2/4 text-center transition ease-in-out" href="/signup/">Sign Up</a>
        </div>
      </div>
    </div>
    <script src="/components/nav.js"></script>
  </body>
</html>
